{% extends 'base/main.html' %}
{% block content %}

{% load static %}

<div class="nav-bar">
    <ul>
        {% if user.is_authenticated and user.is_superuser %}
            <li><a href="{% url 'admin:index' %}"><i class="fas fa-cogs"></i> Admin Panel</a></li>
        {% endif %}
        <li><a class="active" href="{% url 'list' %}"><i class="fas fa-home"></i> CoinCollector</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'currency_conversion' %}">Currency Converter</a></li>
        {% endif %}
        <li><a href="{% url 'blogpost_list' %}">Blog</a></li>
        {% if user.is_authenticated %}
            <li class="nav-right"><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        {% endif %}
    </ul>
</div>

{% if coinlist_associative|length != 0 %}

<div class="main-content">
    <div class="coinlist-container">
        <div class="counter">
            <h1>{{ coinlist_name }}, {{ count }} collected!</h1>
        </div>
        <div class="coinlist-header">
            <div class="search-bar">
                <form method="GET">
                    <input type="text" name="search-area" value="{{ search_input }}" placeholder="Search coin or issuer!">
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    
        <div class="coin-grid">
            {% for entry in coinlist_associative %}
                <div class="coin-card">
                    <div class="checkbox-container">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="checkbox" id="caught-checkbox-{{ entry.id }}" class="caught-checkbox" data-entry-id="{{ entry.id }}" {% if entry.isCaught %}checked{% endif %}>
                            <label for="caught-checkbox-{{ entry.id }}"></label>
                        </form>
                    </div>
                    <a href="{% url 'coin' entry.coin.id %}">
                        <img src="{% static '/resources/coin.png' %}" alt="{{ entry.coin.title }}">
                        <p>{{ entry.coin.title }}</p>
                    </a>
                </div>
            {% empty %}
                <p>No coins in your list!</p>
            {% endfor %}
        </div>
    </div>
    
</div>

{% else %}
<div class="main-content"> 
    <h1 class="title"> Oops, you have no coinlist!<br><br>No coins found. </h1>
</div>
{% endif %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

$(document).ready(function() {
    $('.caught-checkbox').change(function() {
        var entryId = $(this).data('entry-id');
        var isCaught = $(this).is(':checked');
        if (!isCaught) {
            isCaught = false;
        }
        $.ajax({
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            url: '{% url "update_is_caught" %}',
            type: 'POST',
            data: {entry_id: entryId, is_caught: isCaught},
            success: function(response) {
                console.log(response);
            },
            error: function(xhr, errmsg, err) {
                console.log(errmsg);
            }
        });
        location.reload();
    });
});

</script>
{% endblock content %}
