{% extends 'base/main.html' %}
{% block content %}

<div class="center-container">
<div class="login-register-container">
    <div class="header-bar">
        <h1>Register</h1>
    </div>
    
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <label>{{form.username.label}}</label>
            {{form.username}}
    
            <label>{{form.password1.label}}</label>
            {{form.password1}}
            <div class="help-pass-list-container">{{ form.password1.help_text }}</div>

            <label>{{form.password2.label}}</label>
            {{form.password2}}
            <p class="help-pass">{{ form.password2.help_text }}</p>

            <input style="margin-top:10px ;" class="button" type="submit" value="Register">

            {{form.}}
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
</div>
</div>

{% endblock content %}
